#buttonPage{
    width: 200px;
    background-color: rgb(red, green, blue);
    border: 1px solid blueviolet;
    border-radius: 5px;
    padding: .5rem .25rem .5rem .25rem;
    color: aliceblue;
    font
}